# Ignore files and folders

exb_bk.html
/verifly/documentation
/verifly/php
/verifly/index._bakhtml
/verifly/shortcodes-social-icons.html
/verifly/typography.html
/verifly/switcher.html
/verifly/shortcodes-info-boxes.html
/verifly/about-us.html
/verifly/blog-single.html
/verifly/blog.html
/verifly/index-leadgen.html
/verifly/shortcodes-buttons.html
/verifly/shortcodes-divider-space.html
/verifly/shortcodes-dropcaps.html
/verifly/shortcodes-icons.html
/verifly/.DS_Store
.DS_Store
